@model AppStock.Models.InventaireEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Saisie de l'inventaire pour la famille d'article : @Model.ArticleFamille.Libelle</h1>

<div>
    @if(Model.ArticleFamille.Articles.Count == 0)
    {
        <p>Pas d'Article dans la famille</p>
    }
    else
    {
        @foreach (InventaireLigneEntity ligne in Model.InventaireLignes)
        {
            <table>
                <td>@ligne.Article.Libelle | </td>
                <td>Quantité en stock (théorique) : @ligne.QuantiteTheorique | </td>
                <td>
                    
                    <form asp-action="UpdateLigneQuantiteComptee" method="POST">
                        Quantité comptée (réelle)
                        <input type="hidden" asp-for="@ligne.Id" name="ligne_Id">
                        <div class="form-group">
                            <input asp-for="@ligne.QuantiteComptee" name="ligne_Quantite_Comptee" class="form-control" />
                            <span asp-validation-for="@ligne.QuantiteComptee" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enregistrer" class="btn btn-primary" />
                        </div>
                    </form>
                </td>
            </table>
        }
    }
</div>

<div>
    <a asp-action="ValiderInventaire" asp-route-id="@Model.Id">Valider l'inventaire</a>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
