@model IEnumerable<AppStock.Models.InventaireEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des inventaires</h1>

<p>
    <a asp-action="Create">Création</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomInventaireStatut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleFamille)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomInventaireStatut.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleFamille.Libelle)
            </td>
            <td>
                @if (item.NomInventaireStatutId == 1)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a><text> | </text> 
                }
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                
                @if (item.NomInventaireStatutId == 1)
                {
                    <text> | </text> <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
