@model IEnumerable<AppStock.Models.StockEntity>
@{
    ViewData["Title"] = "Index";
}
@inject AppStock.Infrastructure.Services.Commande.ICommandeService ServiceCommande
@inject AppStock.Infrastructure.Services.CommandeFournisseur.ICommandeFournisseurService ServiceCommandeFournisseur
@inject AppStock.Infrastructure.Services.StockProjection.IStockProjectionService ServiceStockProjection


<h1>Articles en stock</h1>

<p>
    <a asp-action="Create">Création</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article.ArticleFamille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                Qte. Engagée
            </th>
            <th>
                Qte. Fournisseur
            </th>
            <th>
                Projection
            </th>
            @*
            <th>Deleted ?</th>
            <th></th>
            *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.ArticleFamille.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantite)
            </td>
            <td>
                @ServiceCommande.getTotalPendingArticles(item.ArticleID)
            </td>
            <td>
                @ServiceCommandeFournisseur.getTotalPendingArticles(item.ArticleID)
            </td>
            
            <td>
                @ServiceStockProjection.Projection(item.Article.Id).Result
            </td>
            @*<td>@item.IsDeleted</td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleID">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.ArticleID">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
