@model IEnumerable<AppStock.Models.CommandeEntity>

@{
    ViewData["Title"] = "Traitement des commandes";
}
@inject AppStock.Infrastructure.Services.Stock.IStockService ServiceStock


<h1>Traitement des commandes</h1>


<p>
    <a asp-action="Dashboard" asp-route-filtre="A"><button type="button" class="btn btn-sm btn-info">En attente de preparation</button></a>
    <a asp-action="Dashboard" asp-route-filtre="L"><button type="button" class="btn btn-sm btn-info">En cours de livraison</button></a>
    <a asp-action="Dashboard" asp-route-filtre="V"><button type="button" class="btn btn-sm btn-info">Terminées</button></a>
    <a asp-action="Dashboard" asp-route-filtre="X"><button type="button" class="btn btn-sm btn-info">Annulations</button></a>
</p>

<h3>
@if(@ViewData["filtre"].Equals("A"))
{
    <span>En attente de préparation</span>
}
else if(@ViewData["filtre"].Equals("L"))
{
    <span>En cours de livraison</span>
}
else if(@ViewData["filtre"].Equals("V"))
{
    <span>Terminées</span>
}
else if(@ViewData["filtre"].Equals("X"))
{
    <span>Annulations</span>
}
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomCommandeStatut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomCommandeStatut.Code)
            </td>
            <td>
                @* Controles differents selon le statut des commandes affichees *@
                @if(@ViewData["filtre"].Equals("A"))
                {
                    @if(@ServiceStock.IsReadyForShipment(item).Result)
                    {
                       <a asp-action="StatutStartLivraison" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-success">Départ livraison</button></a> 
                    }
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-danger">Supprimer</button></a>
                }
                else if(@ViewData["filtre"].Equals("L"))
                {
                    <a asp-action="StatutConfirmLivraison" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-success">Confirmer livraison</button></a>
                    <a asp-action="StatutAnnulation" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-danger">Annuler livraison</button></a>
                }
                else if(@ViewData["filtre"].Equals("V"))
                {
                    
                }
                else if(@ViewData["filtre"].Equals("X"))
                {
                    
                }
                
                
            </td>
        </tr>
}
    </tbody>
</table>
