@model AppStock.Models.DTO.CommandeDTO
@{
    ViewData["Title"] = "Panier";
}
@inject AppStock.Infrastructure.Services.CommandeLigne.ICommandeLigneService ServiceLigne
@inject AppStock.Infrastructure.Services.Stock.IStockService ServiceStock

<h1>Panier</h1>


<table class="table">
    <tbody>
        <tr>
            <td>
                Contact de la commande : @Model.Contact.Nom
            </td>
            <td>
                @if(@ServiceStock.IsSupposedlyUnavailableForCommande(Model).Result)
                {
                    <p style="color:red;font-weight:bold;">< Retard prévu sur le délai livraison ></p>
                }else
                {
                    <p style="color:green;">< Délai de livraison normaux ></p>
                }
            </td>
        </tr>
    </tbody>
</table>

<hr>

<div>
    @if(Model.CommandeLignes.Count == 0)
    {
        <p>Pas d'Article</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Article
                    </th>
                    <th>
                        Disponibilité
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th>
                        Prix
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CommandeLigneEntity ligne in Model.CommandeLignes)
                {
                    <tr>
                        <td>
                            @ligne.Article.Libelle
                        </td>
                        <td>
                            @ServiceStock.IsSupposedlyAvailable(ligne.ArticleId, ligne.Quantite).Result
                        </td>
                        <td>
                            <form asp-action="UpdateLigneQuantite" method="POST">
                                <input type="hidden" asp-for="@ligne.Id" name="ligne_Id">
                                <div class="form-group">
                                    <input asp-for="@ligne.Quantite" name="ligne_Quantite" class="form-control" />
                                    <span asp-validation-for="@ligne.Quantite" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>      
                        </td>
                        
                        <td>
                            @ServiceLigne.getPriceTotals(ligne)
                        </td>
                        
                        <td>
                            <a asp-action="DeleteLigne" asp-route-id="@ligne.Id"><button type="button" class="btn btn-danger">Supprimer</button></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div>
    <a asp-action="AdresseLivraison" asp-route-id="@Model.Id"><button type="button" class="btn btn-success">Valider la commande</button></a>
    <a asp-action="Index" asp-controller="Catalogue"><button type="button" class="btn btn-secondary">Retour au catalogue</button></a>
</div>
