@model AppStock.Models.DTO.CommandeDTO
@{
    ViewData["Title"] = "Panier";
}
@inject AppStock.Infrastructure.Services.CommandeLigne.ICommandeLigneService ServiceLigne

<h1>Index</h1>


<table class="table">
    <tbody>
        <tr>
            <td>
                @Model.Numero
            </td>
            <td>
                @Model.Commentaire
            </td>
            <td>
                contact = @Model.ContactId
            </td>
            <td>
                contact = @Model.Contact.Nom
            </td>
            <td>
                statut = @Model.NomCommandeStatutId
            </td>
            <td>
                statut = @Model.NomCommandeStatut.Libelle
            </td>
            <td>
                type = @Model.NomCommandeTypeId
            </td>
        </tr>
    </tbody>
</table>

<div>
    @if(Model.CommandeLignes.Count == 0)
    {
        <p>Pas d'Article</p>
    }
    else
    {
        @foreach (CommandeLigneEntity ligne in Model.CommandeLignes)
        {
            <table>
                <td>@ligne.Article.Libelle</td>
                <td>
                    
                    <form asp-action="UpdateLigneQuantite" method="POST">
                        <input type="hidden" asp-for="@ligne.Id" name="ligne_Id">
                        <div class="form-group">
                            <input asp-for="@ligne.Quantite" name="ligne_Quantite" class="form-control" />
                            <span asp-validation-for="@ligne.Quantite" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="form-group">
                            <a asp-action="DeleteLigne" asp-route-id="@ligne.Id">Delete</a>
                        </div>
                    </form>
                </td>
            </table>
            <p>@ServiceLigne.getPriceTotals(ligne)</p>

            
        }
    }
    
</div>

<div>
    <a asp-action="AdresseLivraison" asp-route-id="@Model.Id">Valider la commande</a>
</div>
