@model IEnumerable<AppStock.Models.CommandeFournisseurEntity>

@{
    ViewData["Title"] = "Traitement des commandes fournisseur";
}
@inject AppStock.Infrastructure.Services.Stock.IStockService ServiceStock


<h1>Traitement des commandes fournisseur</h1>

<p>
    <a asp-action="Dashboard" asp-route-filtre="C"><button type="button" class="btn btn-sm btn-info">En cours de création</button></a>
    <a asp-action="Dashboard" asp-route-filtre="T"><button type="button" class="btn btn-sm btn-info">Transmise au fournisseur</button></a>
    <a asp-action="Dashboard" asp-route-filtre="R"><button type="button" class="btn btn-sm btn-info">Réceptionnée</button></a>
    <a asp-action="Dashboard" asp-route-filtre="A"><button type="button" class="btn btn-sm btn-info">Annulée</button></a>
</p>

<h3>
@if(@ViewData["filtre"].Equals("C"))
{
    <span>En cours de création</span>
}
else if(@ViewData["filtre"].Equals("T"))
{
    <span>Transmise au fournisseur</span>
}
else if(@ViewData["filtre"].Equals("R"))
{
    <span>Réceptionnée</span>
}
else if(@ViewData["filtre"].Equals("A"))
{
    <span>Annulée</span>
}
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomCommandeFournisseurStatut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomCommandeFournisseurStatut.Code)
            </td>
            <td>
                @* Controles differents selon le statut des commandes affichees *@
                @if(@ViewData["filtre"].Equals("C"))
                {

                }
                else if(@ViewData["filtre"].Equals("T"))
                {
                    <a asp-action="StatutConfirmReception" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-success">Confirmer livraison</button></a>
                    <a asp-action="StatutAnnulation" asp-route-id="@item.Id"><button type="button" class="btn btn-sm btn-danger">Annuler commande</button></a>
                }
                else if(@ViewData["filtre"].Equals("R"))
                {
                    
                }
                else if(@ViewData["filtre"].Equals("A"))
                {
                    
                }
                
                
            </td>
        </tr>
}
    </tbody>
</table>
