@model AppStock.Models.CommandeFournisseurEntity

@{
    ViewData["Title"] = "Edit";
}

@inject AppStock.Infrastructure.Services.CommandeFournisseurLigne.ICommandeFournisseurLigneService ServiceLigne

<h1>Edit</h1>

<h4>Commande fournisseur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ContactId" />
            <input type="hidden" asp-for="FournisseurId" >
            <input type="hidden" asp-for="NomCommandeFournisseurStatutId" />
            
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Commentaire" class="control-label"></label>
                <input asp-for="Commentaire" class="form-control" />
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        
        </form>
    </div>
</div>

<hr>

<div>
    <form asp-action="FournisseurChange" method="POST">
        <input type="hidden" asp-for="Id" name="CommandeFournisseurId">
        <div class="form-group">
            <label asp-for="FournisseurId" class="control-label"></label>
            <select asp-for="FournisseurId" class="form-control" asp-items="ViewBag.FournisseurId"></select>
            <span asp-validation-for="FournisseurId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Modifier le fournisseur" class="btn btn-primary" />
        </div>
    </form>
</div>

<hr>

<div>
    Ajout d'article
    <form asp-action="ArticleAdd" method="POST">
        <input type="hidden" asp-for="Id" name="CommandeFournisseurId">
        <div class="form-group">
            <label class="control-label"></label>
            <select class ="form-control" asp-items="ViewBag.ArticleId" name="ArticleId"></select>
        </div>
        <div class="form-group">
            <label for="QuantiteArticle">Quantité</label>
            <input name="QuantiteArticle" class="form-control" type="number"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Ajouter un article" class="btn btn-primary" />
        </div>
    </form>
</div>

<hr>

<div>
    @if(Model.CommandeFournisseurLignes.Count == 0)
    {
        <p>Pas d'Article</p>
    }
    else
    {
        <p>Liste des articles de la commande</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Article
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CommandeFournisseurLigneEntity ligne in Model.CommandeFournisseurLignes){
                <tr>
                    <td>
                        @ligne.Article.Libelle
                    </td>
                    
                    
                    <td>
                        <form asp-action="UpdateLigneQuantite" method="POST">
                        <input type="hidden" asp-for="Id" name="CommandeFournisseurId">
                        <input type="hidden" asp-for="@ligne.Id" name="LigneId">
                        <div class="form-group">
                            <input asp-for="@ligne.Quantite" name="LigneQuantite" class="form-control" />
                            <span asp-validation-for="@ligne.Quantite" class="text-danger"></span>
                        </div>
                        </form>
                    </td>
                    
                    
                    <td>
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    </td>
                    <td>
                        <a asp-action="DeleteLigne" asp-route-id="@ligne.Id">Supprimer</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }







        @*
        <p>Liste des articles de la commande</p>
        @foreach (CommandeFournisseurLigneEntity ligne in Model.CommandeFournisseurLignes)
        {
            <table>
                <td>@ligne.Article.Libelle</td>
                <td>
                    
                    <form asp-action="UpdateLigneQuantite" method="POST">
                        <input type="hidden" asp-for="Id" name="CommandeFournisseurId">
                        <input type="hidden" asp-for="@ligne.Id" name="LigneId">
                        <div class="form-group">
                            <input asp-for="@ligne.Quantite" name="LigneQuantite" class="form-control" />
                            <span asp-validation-for="@ligne.Quantite" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="form-group">
                            <a asp-action="DeleteLigne" asp-route-id="@ligne.Id">Delete</a>
                        </div>
                    </form>
                </td>
            </table>
        }
    }
    *@
</div>

<hr>

<div>
    <a asp-action="ValiderCommande" asp-route-id="@Model.Id">Confirmer la commande</a>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
